<div class="container">
  <div class="container_wrap">
    <%= render 'shared/header' %>
    <div class="content">
      <div class="register">
        <div class="col-md-6 login-left">
          <h3>New Account</h3>
          <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
           <%= link_to "Create an Account", sign_up_path, class: 'acount-btn'%>
        </div>
        <div class="col-md-6 login-right">
          <h3>Registered Account</h3>
          <p>If you have an account with us, please log in.</p>
          <%= form_tag sessions_path do %>
            <div>
              <%= label_tag :email %><br />
              <%= text_field_tag :email, params[:email] %>
            </div>
            <div>
              <%= label_tag :password %><br />
              <%= text_field_tag :password, nil %>
            </div>
            <div>
              <h4>Login using
              <%= link_to '/auth/facebook' do %><%= image_tag "facebook.png", class: "social_icons"%><% end %>
              <%= link_to 'auth/vkontakte' do %><%= image_tag "vk.png", class: "social_icons" %><% end %>
            </div>
      
            <div>
              <%= submit_tag "Log in" %>
            </div>
          <% end %>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
</div>
<div class="container"> 
  <%= render 'shared/footer' %>
</div>  

