<div class="row">
  
  <div class="col-sm-11">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong><%= comment.commenter %></strong> <span class="text-muted"><%= time_ago_in_words(comment.created_at) %> Ago</span>
      </div>
      <div class="panel-body">
        <%= comment.body %>
      </div><!-- /panel-body -->
    </div><!-- /panel panel-default -->
  </div><!-- /col-sm-5 -->
</div>
<div class="com">
  <% if current_user.id == comment.user_id %>
    <p><%= link_to 'Delete', [comment.post, comment], method: :delete, class: "button", data: { confirm: 'Are you sure'}%></p>
  <% else %>
  <% end %>
</div>