<!DOCTYPE html>
<html>
  <head>
    <title>Movie</title>
    <%= stylesheet_link_tag    'admin_application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class = "container">
      <br>
      <%= render 'shared/admin/headers' %>
      <br>
      <div class="well">
        <%= yield %>
      </div>
    </div>
  </body>
</html>