<b><center>All Users</center></b>
<br>
<table class="table table-bordered">
  <tr>
    <td>№</td>
    <td>User</td>
    <td>Email</td>
  </tr>
  <% @users.each do |user| %>
      <tr>
        <td><%=user.id%></td>
        <td><%=link_to user.firstname + " " + user.lastname, user %></td>
        <td><%=user.email%></td>
      </tr>
  <% end %>
</table>