<div class="container">
  <div class="container_wrap">
  <%= render 'shared/header' %>
  <div class="content">
    <div class="register">
      <div class="register-top-grid">
          <h3>Personal Information</h3>
          <%= form_for @user do |f| %>
            <% if @user.errors.any? %>
            <h2>Form is invalid</h2>
            <ul>
              <% for message in @user.errors.full_messages %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
        <div>
          <%= f.label :Name %><br />
          <%= f.text_field :firstname %>
        </div>
        <div>
          <%= f.label :Last_name %><br />
          <%= f.text_field :lastname %>
        </div>
        <div>
          <%= f.label :email %><br />
          <%= f.text_field :email %>
        </div>
        <div>
          <%= f.label :Avatar %><br />
          <%= f.file_field :avatar, type: "file", class: "filestyle" , :input => false %>
        </div>
        <div class="clearfix"> </div>
          <a class="news-letter" href="#">
            <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>Sign Up for Newsletter</label>
          </a>
        </div>
        <div class="register-bottom-grid">
          <h3>Login Information</h3>
          <div>
            <%= f.label :password %><br />
            <%= f.text_field :password %>
          </div>
          <div>
            <%= f.label :password_confirmation %><br />
            <%= f.text_field :password_confirmation %>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
        <div class="register-but">
          <%= f.submit "Create Account", class: 'btn btn-success' %>
          <div class="clearfix"> </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container"> 
  <%= render 'shared/footer' %>
</div>