<div class="container">
  <div class="container_wrap">
    <%= render 'shared/header' %>
    <div class="content">
      <h3><center>My Account</center></h3>
      <br>
      <center>
        <p>
          <%= image_tag current_user.avatar_url(:medium ), class: "img-circles" %>
        </p>
        <br>
        <p> 
          <h4>
          <%= @user.firstname %>
          <%= @user.lastname %>
          </h4>
        </p>
        <p>
          <i class="glyphicon glyphicon-envelope"></i> <%= @user.email %>
        </p>
        <div class="clearfix"> </div>
        <br>
          <button type="buttonss" class="btn btn-primary"><%= link_to 'Edit_user', edit_user_path(@user), class: 'buttonss' %></button>
      </center>
    </div>
  </div>
</div>
<div class="container"> 
  <%= render 'shared/footer' %>
</div>
