<div class="container">
  <div class="container_wrap">
    <%= render 'shared/header' %>
    <div class="content">
      <div class="box_1">
        <h1 class="m_2">Add Videos</h1>
        <%= form_for @video do |f| %>
          <p>
            <%= f.label :name %><br>
            <%= f.text_field :name, class: "form-control" %>
          </p>
          <p>
            <%= f.label :link %><br>
            <%= f.text_field :link, class: "form-control", value: '<iframe width="100%" height="305"' %>
          </p>
          <br>
          <p>
            <%= f.submit class: 'btn btn-success' %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class = "container">
  <%= render 'shared/footer' %>
</div>
