<div class="box_1">
  <h1 class="m_2">Most Popular videos</h1>
  <br>
  <div class="clearfix"> </div>
</div>
<div class="row">
  <div class="col-md-6">
    <iframe width="100%" height="305" src="https://www.youtube.com/embed/2he_g589hgw" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-6">
    <iframe width="100%" height="305" src="https://www.youtube.com/embed/Ys3mXt3WqMA" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6">
    <iframe width="100%" height="305" src="https://www.youtube.com/embed/2oEDX40ME_Q" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-6">
    <iframe width="100%" height="305" src="https://www.youtube.com/embed/94G-0L3PKcs" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<br>
  <center><button class="buttons"><%= link_to "More video", videos_path %></button></center>
  