<footer id="footer">
  <div id="footer-3d">
    <div class="gp-container">
      <span class="first-widget-bend"></span>
    </div>    
  </div>
  <div id="footer-widgets" class="gp-footer-larger-first-col">
    <div class="gp-container">
      <div class="footer-widget footer-1">
        <div class="wpb_wrapper">
          <%= link_to root_path do %>
            <%= image_tag "f_logo.png" %>
          <% end %>
        </div> 
        <br>
          <p>Movies Site is provided for movies. Also to write comments and reviews evaluation movie site users.</p>
          <p class="text">As well as the possible purchase of any film genre</p>
      </div>
      <div class="footer_box">
        <div class="col_1_of_3 span_1_of_3">
          <h3>Categories</h3>
          <ul class="first">
            <li><a href="#">Films</a></li>
            <li><a href="#">Serials</a></li>
            <li><a href="#">Audio</a></li>
          </ul>
        </div>
        <div class="col_1_of_3 span_1_of_3">
          <h3>Information</h3>
          <ul class="first">
            <% if current_admin %>
                <li><%= link_to "Admin",  admin_root_path %></li>
              <% else %>
                <li><%= link_to "My Profile", current_user %></p></li>
            <% end %>
            <li><a href="#">Settings Account</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </div>
        <div class="col_1_of_3 span_1_of_3">
          <h3>Follow Us</h3>
          <ul class="first">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Youtube</a></li>
          </ul>
          <div class="copy">
            <p>&copy; 2015 Movie </a></p>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</footer>