<div class="header_top">
  <div class="col-sm-3 logo">
    <%= link_to root_path do %>
      <%= image_tag "logo.png" %>
    <% end %>
  </div>
  <div class="col-sm-6 nav">
    <ul>
     <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="Serials"><a href="#"> </a></span></li>
     <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Films"><%= link_to films_path do %><% end %> </span></li>
     <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Video"><%= link_to videos_path do %><% end %></span></li>
     <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Audio"><a href="#"> </a></span></li>
     <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Cartoon"><%= link_to cartoons_path do %><% end %></span></li>
     <li><span class="simptip-position-bottom simptip-movable" data-tooltip="About"><a href="#"> </a></span></li>
   </ul>
  </div>
  <div class="col-sm-3 header_right">
    <ul class="header_right_box">
      <% if current_user %>
        <li><p><%= image_tag current_user.avatar_url(:thumb), class: "img-circle" %></p></li>
        <li><p><%= link_to current_user.firstname, current_user, class: "registaration"  %></p></li>
        <li><p><%= link_to log_out_path, class: "registaration"  do %><span><i class="fa fa-sign-out"></i></span><% end %></p></li>
      <% else %>
        <li><p><%= link_to "My Profile", log_in_path, class: "registaration" %></p></li>
      <% end %> 
      <div class="clearfix"> </div>
    </ul>
  </div>
  <div class="clearfix"> </div>
</div>