<script>
  $(function () {
    $("#slider").responsiveSlides({
      auto: true,
      nav: true,
      speed: 500,
      namespace: "callbacks",
      pager: true,
    });
  });
</script>
  <div class="callbacks_container">
    <ul class="rslides" id="slider">
      <li><%= image_tag "banner.jpg", class: "img-responsive"  %>
        <div class="button">
          <a href="#" class="hvr-shutter-out-horizontal">Watch Now</a>
        </div>
      </li>
      <li><%= image_tag "banner1.jpg", class: "img-responsive"  %>
        <div class="button">
          <a href="#" class="hvr-shutter-out-horizontal">Watch Now</a>
        </div>
      </li>
      <li><%= image_tag "banner2.jpg", class: "img-responsive"  %>
        <div class="button">
          <a href="#" class="hvr-shutter-out-horizontal">Watch Now</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="banner_desc">
    <div class="col-md-9">
      <ul class="list_1">
        <li>Published <span class="m_1">Feb 20, 2016</span></li>
        <li>Updated <span class="m_1">Feb 20 2016</span></li>
        <li>Rating <span class="m_1"><%= image_tag "rating.png" %></span></li>
      </ul>
    </div>
    <div class="col-md-3 grid_1">
      <ul class="list_1 list_2">
        <li><i class="icon1"> </i><p>2,548</p></li>
        <li><i class="icon2"> </i><p>215</p></li>
        <li><i class="icon3"> </i><p>546</p></li>
      </ul>
    </div>
  </div>