<center><h2>List Cartoons</h2></center>
<%= link_to new_admin_cartoon_path, class: "linkss" do %>Add Cartoon <%= image_tag "add-video.png" %><% end %>
<%= form_tag admin_cartoons_path, :method => "get", :class =>'search' do %>
        <%= text_field_tag :search, params[:search], :placeholder => 'поиск', :class => 'input' %>
        <%= submit_tag "", :class => 'submit' %>
      <% end %>
<div class="row">
  <div class="clearfix"> </div>
  <% @cartoons.each do |cartoon| %>
    <div class="col-md-6">
    <br>
    <ul class = "menu_uls">
      <li class ="menu_lisa"><h4 class="lin"><%= cartoon.name%></h4></li>
      <li class ="menu_lissa"><%= link_to 'Delete', admin_cartoon_path(cartoon),class: " lin", method: :delete, data: { confirm: 'Are you sure' } %></li>
      <li class ="menu_lissa"><%= link_to 'Edit', edit_admin_cartoon_path(cartoon),class: "lin" %></li>
    </ul>
      <h4><%= cartoon.link.html_safe  %></h4>
    </div>
  <% end %>
</div>
