<!DOCTYPE html>
<html>
  <head>
    <title>Movie</title>
      <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'responsiveslides.min', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="container_wrap">
          <%= render 'shared/header' %>
        <div class="slider">
          <%= render 'shared/slider' %>
        </div>
        <div class="content">
          <%= render 'shared/content' %>
        </div>
      </div> <!-- close container_wrap -->
    </div> <!-- close container -->
    <div class="container"> 
      <%= render 'shared/footer' %>
    </div>  
  </body>
</html>

