<div class="container">
  <div class="container_wrap">
    <%= render 'shared/header' %>
    <div class="content">
      <div class="box_1">
      	<h1 class="m_2">Films</h1>
      </div>
      <%= form_tag films_path, :method => "get", :class =>'searchs' do %>
        <%= text_field_tag :search, params[:search], :placeholder => 'поиск', :class => 'inputs' %>
        <%= submit_tag "", :class => 'submits' %>
      <% end %>
      <div class="row">
	  		<div class="clearfix"> </div>
			  <% @films.each do |film| %>
				  <div class="col-md-8", id="block">
				    <br>
				    <ul class = "menu_uls">
				      <li class ="menu_lisa"><h4 class="lin"><%= link_to film.name, film %></h4></li>
				      <li class ="menu_liss"><%= link_to 'Show', edit_admin_film_path(film),class: "lin" %></li>
				    </ul>
				    <div class="row">
					    <div class="col-md-5">
					    <br>
						    <% if film.imagefilm_stored? %>
						      <%= image_tag film.imagefilm.url, height: 200 %>
						    <% else %>
						      <%= image_tag 'no_image.png', height: 200 %>
						    <% end %>	
					    </div>
					    <div class="col-md-6">
					    	<br>
						    <h6><b>Качество: </b> <%= film.quality %></h6>
						    <h6><b>Жанр: </b> <%= film.genre %></h6>
						    <h6><b>Дата выхода: </b> <%= film.year %></h6>
						    <h6><b>Страна: </b> <%= film.country %></h6>
						    <h6><b>Продолжительность: </b> <%= film.duration %></h6>
						    <h6><b>Продюсер: </b> <%= film.producer %></h6>
						    <h6><b>Премьера: </b><%= film.premiere %></h6>
						    <h6><b>Перевод: </b> <%= film.transfer %></h6>
						    <h6><b>Category:
						    <% film.categories.each do |category| %>
						      <%= category.name %>
						    <% end %></b></h6>
						    <h6><b>Описание: </b> <%= film.description %></h6>
						    <div class = "text_like">
                <% if current_user %>
                  <%= link_to like_film_path(film), method: :put do %>
                    <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                    <%= film.get_upvotes.size %>
                  <% end %>
                  <%= link_to dislike_film_path(film), method: :put do %>
                    <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></i></span>
                    <%= film.get_downvotes.size %>
                  <% end %>
                <% end %>
              </div>
					    </div>
					  </div>
				  </div>
			  <% end %>
			</div>
			<center><%= will_paginate @collection, renderer: BootstrapPagination::Rails %></center>
    </div>
  </div>
</div>
<div class = "container">
  <%= render 'shared/footer' %>
</div>

