<div class="container">
  <div class="container_wrap">
    <%= render 'shared/header' %>
    <div class="content">
      <div class="box_1">
      </div>
      <div class="row">
        <div class="clearfix"> </div>
          <div class="col-md-8", id="block">
            <br>
            <ul class = "menu_uls">
              <li class ="menu_lisa"><h4 class="lin"><%= @film.name %></h4></li>
            </ul>
            <div class="row">
              <div class="col-md-5">
              <br>
                <% if @film.imagefilm_stored? %>
                  <%= image_tag @film.imagefilm.url, height: 200 %>
                <% else %>
                  <%= image_tag 'no_image.png', height: 200 %>
                <% end %> 
              </div>
              <div class="col-md-7">
                <br>
                <h6><b>Качаство: </b> <%= @film.quality %></h6>
                <h6><b>Жанр: </b> <%= @film.genre %></h6>
                <h6><b>Дата выхода: </b> <%= @film.year %></h6>
                <h6><b>Страна: </b> <%= @film.country %></h6>
                <h6><b>Продолжительность: </b> <%= @film.duration %></h6>
                <h6><b>Продюсер: </b> <%= @film.producer %></h6>
                <h6><b>Премьера: </b><%= @film.premiere %></h6>
                <h6><b>Перевод: </b> <%= @film.transfer %></h6>
                <h6><b>Category:
                <% @film.categories.each do |category| %>
                  <%= category.name %>
                <% end %></b></h6>
                <h6><b>Описание: </b> <%= @film.description %></h6>
                <h6><b>Трейлер</b></h6>
                <h6><%= @film.treilerlink.html_safe  %></h6>
                <h6><b>Фильм</b></h6>
                <h6><%= @film.link.html_safe  %></h6>
              </div>
            </div>
          </div>
      </div>
      <h2, id="block">Comments</h2>
      <% @film.comments.each do |comment| %>
        <div class="row">
          <div class="col-md-8", id="block">
            <div class="panel panel-default">
              <div class="panel-heading">
                <strong><%= comment.commenter %></strong> <span class="text-muted"><%= time_ago_in_words(comment.created_at) %> Ago</span>
                <% if current_user.id == comment.user_id %>
                  <%= link_to 'Delete',  [comment.film, comment], method: :delete, class: 'label label-danger', data: { confirm: 'Are you sure'}%>
                <% else %>
                <% end %>
              </div>
              <div class="panel-body">
                <%= comment.body %>
              </div><!-- /panel-body -->
            </div><!-- /panel panel-default -->
          </div><!-- /col-sm-5 -->
        </div>
      <% end %>
      <%= form_for([@film, @film.comments.build]) do |f| %>
      <div id="block">
        <p>
          <%= f.label :commenter %><br />
          <%= f.text_field :commenter,class: 'form-control' %>
        </p>
        <p>
          <%= f.label :body %><br />
          <%= f.text_area :body,class: 'form-control'  %>
        </p>
        <br>
        <p>
          <%= f.submit "Create comments", class: 'btn btn-success' %>
        </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class = "container">
  <%= render 'shared/footer' %>
</div>

