.menu_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.menu_li {
  float: left;
}
.menu_lis{
  float: right;
}

.menu_li .link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.menu_lis .link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.menu_li .active {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #008B8B;
}

.menu_li .link:hover {
  background-color: #4CAF50;
  text-decoration: none;
  color: white;
}
.menu_lis .link:hover {
  background-color: red;
  text-decoration: none;
  color: white;
}

/*navigation*/

.menu_uls {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.menu_lisa {
  float: left;
}
.menu_lissa{
  float: right;
}
.menu_lissa .lin {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu_lisa .lin {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 15px;
  margin-top: 2px;
}

.menu_lisa .active {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #008B8B;
}

.menu_lisa .lin:hover {
  text-decoration: none;
  color: white;
}
.menu_lissa .lin:hover {
  background-color: red;
  text-decoration: none;
  color: white;
}

.td_name{
  text-align: center;
}
