<h1 >Edit Videos</h1>
<%= form_for [:admin, @film] do |f| %>
	<p>
    <%= f.label :Название %><br>
    <%= f.text_field :name, class: "form-control" %>
  </p>
  <p>
    <%= f.label :Качество %><br>
    <%= f.text_field :quality, class: "form-control" %>
  </p>
  <p>
    <%= f.label :Жанр %><br>
    <%= f.text_field :genre, class: "form-control" %>
  </p>
  <p>
    <%= f.label :Год %><br>
    <%= f.date_select :year, :order => [:day, :month, :year] %>
  </p>
  <p>
    <%= f.label :Страна %><br>
    <%= f.text_field :country, class: "form-control" %>
  </p>
  <p>
    <%= f.label :Продолжительность %><br>
    <%= f.text_field :duration, class: "form-control" %>
  </p>
  <p>
    <%= f.label :Продюсер %><br>
    <%= f.text_field :producer, class: "form-control" %>
  </p>
  <p>
    <%= f.label :Премьера %><br>
    <%= f.text_field :premiere, class: "form-control" %>
  </p>
  <p>
    <%= f.label :Перевод %><br>
    <%= f.text_field :transfer, class: "form-control" %>
  </p>
  <p>
    <%= f.label :Изображения_к_фильму %><br />
    <%= f.file_field :imagefilm, type: "file",  :input => false %>
  </p>
  <p>
    <%= f.label :Описание %><br>
    <%= f.text_area :description, :id => "message_area", :cols => 75, :rows => 5 %>
  </p>
  <p>
    <%= f.label :Скриншоты_и_актеры %><br />
    <%= f.file_field :screenshotsactors, type: "file",  :input => false %>
  </p>
  <p>
    <%= f.label :Фильм %><br>
    <%= f.text_field :link, class: "form-control", value: '<iframe width="100%" height="305"' %>
  </p>
  <p>
    <%= f.label :Трейлер %><br>
    <%= f.text_field :treilerlink, class: "form-control", value: '<iframe width="100%" height="305"' %>
  </p>
  <p>
    <%= f.label :category_ids %><br>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
  </p>
  <br>
  <p>
    <%= f.submit class: 'btn btn-success' %>
  </p>
<% end %>