<center><h2>List Films</h2></center>
<%= link_to new_admin_film_path, class: "linkss" do %>Add Film <%= image_tag "add-video.png" %><% end %>
<%= form_tag admin_films_path, :method => "get", :class =>'search' do %>
  <%= text_field_tag :search, params[:search], :placeholder => 'поиск', :class => 'input' %>
  <%= submit_tag "", :class => 'submit' %>
<% end %>
<div class="row">
  <div class="clearfix"> </div>
  <% @films.each do |film| %>
    <div class="col-md-6">
    <br>
    <ul class = "menu_uls">
      <li class ="menu_lisa"><h4 class="lin"><%= film.name %></h4></li>
      <li class ="menu_lissa"><%= link_to 'Delete', admin_film_path(film),class: " lin", method: :delete, data: { confirm: 'Are you sure' } %></li>
      <li class ="menu_lissa"><%= link_to 'Edit', edit_admin_film_path(film),class: "lin" %></li>
    </ul>
    <br>
      <h6><b>Качество:</b> <%= film.quality %></h6>
      <h6><b>Жанр:</b> <%= film.genre %></h6>
      <h6><b>Дата выхода:</b> <%= film.year %></h6>
      <h6><b>Страна:</b> <%= film.country %></h6>
      <h6><b>Продолжительность:</b> <%= film.duration %></h6>
      <h6><b>Продюсер:</b> <%= film.producer %></h6>
      <h6><b>Премьера:</b><%= film.premiere %></h6>
      <h6><b>Перевод:</b> <%= film.transfer %></h6>
      <% if film.imagefilm_stored? %>
        <%= image_tag film.imagefilm.url, height: 200 %>
      <% else %>
        <%= image_tag 'no_image.png', height: 200 %>
      <% end %>
      <h6><b>Category:</b></h6>
      <% film.categories.each do |category| %>
        <%= category.name %>
      <% end %></p>
      <h6><b>Описание:</b> <%= film.description %></h6>
      <h6><b>Скриншоты и актеры:</b> <%= film.screenshotsactors %></h6>
      <h6><%= film.treilerlink.html_safe  %></h6>
      <h6><%= film.link.html_safe  %></h6>
    </div>
  <% end %>
</div>
