<div class="container">
  <div class="container_wrap">
    <%= render 'shared/header' %>
    <div class="content">
      <div class="box_1">
      <h1 class="m_2">Cartoons</h1>
      <%= form_tag cartoons_path, :method => "get", :class =>'search' do %>
        <%= text_field_tag :search, params[:search], :placeholder => 'поиск', :class => 'input' %>
        <%= submit_tag "", :class => 'submit' %>
      <% end %>
        <div class="row">
          <div class="clearfix"> </div>
          <% @cartoons.each do |cartoon| %>
            <div class="col-md-6">
              <ul class = "menu_uls">
                <li class ="menu_lisa"><h4 class="lin"><%= cartoon.name%></h4></li>
              </ul>
              <h4><%= cartoon.link.html_safe  %></h4>
              <div class = "text_like">
                <% if current_user %>
                  <%= link_to like_cartoon_path(cartoon), method: :put do %>
                    <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                    <%= cartoon.get_upvotes.size %>
                  <% end %>
                  <%= link_to dislike_cartoon_path(cartoon), method: :put do %>
                    <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></i></span>
                    <%= cartoon.get_downvotes.size %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <center><%= will_paginate @collection, renderer: BootstrapPagination::Rails %></center>
    </div>
  </div>
</div>
<div class = "container">
  <%= render 'shared/footer' %>
</div>

