/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-slider
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
  font-family: 'Roboto Condensed', sans-serif;
  background:#3f444e;
}
body a{
  transition:0.5s all;
  -webkit-transition:0.5s all;
  -moz-transition:0.5s all;
  -o-transition:0.5s all;
  -ms-transition:0.5s all;
}
.registaration{
  font-size: 15px;
  color:#3f444e;

}
.registaration:hover{
 text-decoration: none;
 color:#d8232a;

}
.buttonss{
  text-decoration: none;
  color: white;
}
.form-control{
  width: 470px;
}

.container_wrap{
  padding:5em 0;
  
}
.header_top{
  background: #fff;
padding:2em 1em 1.8em;
border-top-left-radius: 3px;
-webkit-border-top-left-radius: 3px;
-moz-border-top-left-radius: 3px;
-o-border-top-left-radius: 3px;
border-top-right-radius: 3px;
-webkit-border-top-right-radius: 3px;
-moz-border-top-right-radius: 3px;
-o-border-top-right-radius: 3px;
}
.logo{
  margin-top: 4px;
  
}
/*---social-icons-----*/
.nav {
  text-align:center;
  
}
.nav ul{
  padding:0;
  margin:0;
  list-style:none;
}
.nav li{
  
  margin: 0px 4% 0px 0;
  display:inline-block;
}
.nav li a {
  height:30px;
  width:30px;
  display: block;
}
.nav li a:hover {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.8;
  -webkit-transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -ms-transition: opacity .15s ease-in-out;
  -o-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
}
/*--------social simptip--------*/
[data-tooltip] {
  position: relative;
  display: inline-block;
}
[data-tooltip].simptip-position-bottom:before {
  border-bottom-color:#d8232a;
}
[data-tooltip].simptip-position-bottom:after {
  background-color:#d8232a;
  color:#fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
}
[data-tooltip]:before {
  content: '';
  position: absolute;
  border-width: 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
}
[data-tooltip]:before, [data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 999999;
}
[data-tooltip]:after {
  height:25px;
  padding:7px 12px 0;
  font-size: 13px;
  line-height: 11px;
  content: attr(data-tooltip);
  white-space: nowrap;
  text-transform:uppercase;
}
[data-tooltip]:hover, [data-tooltip]:focus {
  background-color: rgba(0, 0, 0, 0);
}
[data-tooltip]:hover:before, [data-tooltip]:hover:after, [data-tooltip]:focus:before, [data-tooltip]:focus:after {
  visibility: visible;
  opacity: 1;
}
.simptip-position-bottom.simptip-movable:before {
  margin-top: -15px;
}
.simptip-position-bottom.simptip-movable:after {
  margin-top: -3px;
}
.simptip-position-bottom:before, .simptip-position-bottom:after, .simptip-position-top:before, .simptip-position-top:after {
  left: 32%;
}
.simptip-position-bottom:before, .simptip-position-bottom:after {
  top: 140%;
}
.simptip-position-bottom:after, .simptip-position-top:after {
  margin-left: -18px;
}
.simptip-position-right.simptip-movable:before, .simptip-position-right.simptip-movable:after, .simptip-position-left.simptip-movable:before, .simptip-position-left.simptip-movable:after, .simptip-position-top.simptip-movable:before, .simptip-position-top.simptip-movable:after, .simptip-position-bottom.simptip-movable:before, .simptip-position-bottom.simptip-movable:after {
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -o-transition: all .1s linear;
  -ms-transition: all .1s linear;
  transition: all .1s linear;
}
.simptip-position-bottom.simptip-movable:hover:before, .simptip-position-bottom.simptip-movable:hover:after {
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
}
/*------------end social simptip----------------*/
.nav li:nth-child(1) a{
  background: url('/assets/img_sprite.png') -7px -9px;
}
.nav li:nth-child(2) a{
  background: url('/assets/img_sprite.png') -49px -8px;
}
.nav li:nth-child(3) a{
  background: url('/assets/img_sprite.png') -90px -9px;
}
.nav li:nth-child(4) a{
  background: url('/assets/img_sprite.png') -130px -8px;
}
.nav li:nth-child(5) a{
  background: url('/assets/img_sprite.png') -175px -9px;
}
.nav li:nth-child(6) a{
  background: url('/assets/img_sprite.png') -216px -9px;
}
ul.header_right_box{
  padding:0;
  margin: 0 0 0 50%;
  list-style:none;
  
}
ul.header_right_box li{
  float: left;
  margin: 0 3%;
}
ul.header_right_box li p{
  font-size:1.2em;
font-weight: 600;

margin-top: 4px;
}
ul.header_right_box li p a{
  color:#3f444e;
}
ul.header_right_box li p a:hover{
  text-decoration:none;
  color:#d8232a;
}
i.edit{
  width: 20px;
  height: 25px;
  background: url('/assets/img_sprite.png') -258px -9px;
  display: inline-block;
}
ul.header_right_box li.last{
  margin-right:0;
}

.slider {
  position: relative;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}
.caption{
  width: 56%;
  position: absolute;
  top: 35%;
  left: 20%;
  text-align:center;
}
.caption h3{
  color: #FFF;
  font-weight: 700;
  font-size: 1.8em;
  text-transform: uppercase;
}
.caption p{
  color: #FFF;
  line-height: 1.5em;
  font-size: 0.875em;
  text-align: center;
  margin:1em 0 1.5em 0;
}
a.morebtn{
  background:#3D3D3D;
  padding:0.8em 0;
  display:block;
  font-size:0.875em;
  text-transform:uppercase;
  color:#FFF;
  width:20%;
  margin:0 auto;
  transition:0.5s all ease;
  -webkit-transition:0.5s all ease;
  -moz-transition:0.5s all ease;
  -o-transition:0.5s all ease;
  -ms-transition:0.5s all ease;
}
a.morebtn:hover{
  background:#585686;
}
.callbacks_tabs a:after {
  content: "\f111";
  font-size: 0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height: 12px;
  width: 12px;
  display: inline-block;
  background:#fff;
  border-radius:50px;
}
.callbacks_here a:after{
  border: 2px solid #fd926d;
}
.callbacks_tabs a{
  visibility:hidden;
}
.callbacks_tabs li{
  
}
ul.callbacks_tabs.callbacks1_tabs {
  position: absolute;
  bottom:50%;
  z-index: 999;
  left:0px;
  list-style: none;
}
.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height:117px;
  width:30px;
  background: transparent url("../images/arrows.png") no-repeat left top;
  margin-top: -45px;
  }
.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
 }
/*-- responsive-mediaquries --*/
@media(max-width:1024px){
  .caption {
    width: 63%;
    top: 31%;
    left: 19%;
  }
}
@media(max-width:768px){
  .caption {
    width: 70%;
    top: 22%;
    left: 13%;
  }
  .caption h3{
    font-size:1.5em;
  }
  a.morebtn {
    width: 26%;
  }
  .callbacks_nav {
      top: 55%;
   }
}
@media(max-width:640px){
  .caption {
    width: 70%;
    top: 12%;
    left: 13%;
  }
  .caption h3{
    font-size:1.5em;
  }
  a.morebtn {
    width: 30%;
  }
  .callbacks_tabs a:after {
    height: 10px;
    width: 10px;
  }
}
@media(max-width:480px){
  .caption {
    width: 70%;
    top: 14%;
    left: 13%;
  }
  .callbacks_nav {
      top: 60%;
   }
  .caption p{
    height:25px;
    overflow:hidden;
    margin:0.5em 0;
  }
  .caption h3{
    font-size:1.4em;
  }
  a.morebtn {
    width: 40%;
    font-size:0.8em;
  }
  .callbacks_tabs a:after {
    height:4px;
    width: 4px;
  }
  ul.callbacks_tabs.callbacks1_tabs {
    
  }
}
@media(max-width:320px){
  .caption {
    width: 70%;
    top: 14%;
    left: 13%;
  }
  .callbacks_nav {
      top: 63%;
   }
  .caption p{
    height:25px;
    overflow:hidden;
    margin:0.2em 0;
  }
  .caption h3{
    font-size:1em;
  }
  a.morebtn {
    width: 50%;
    font-size: 0.8em;
    padding:0.6em 0.5em; 
  }
  .callbacks_tabs a:after {
    height:4px;
    width: 4px;
  }
  ul.callbacks_tabs.callbacks1_tabs {
    bottom: 10px;
    left: 4px;
  }
}
.button {
display: block;
z-index: 2;
text-shadow: none;
margin: 0;
max-width: none;
position: absolute;
top:58%;
right:15%;

}
.button a{
  text-decoration: none;
  color: #fff;
  background: #d8232a;
  padding: 8px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2em;
}

/* Bounce To Right */

/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:#3f444e;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
}
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
  color: white;
}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.banner_desc {
display: block;
z-index: 2;
text-shadow: none;
margin: 0;
max-width: none;
position: absolute;
top:90.5%;
right: 0;
width: 100%;
padding: 10px 15px 5px;
background: rgba(3, 3, 3, 0.45);
}
.grid_1{
  padding-right:0!important;
}
ul.list_1, ul.list_3, ul.list_4{
  padding:0;
  margin:0;
  list-style:none;
}
ul.list_1 li{
  display: inline-block;
color: #fff;
text-transform: uppercase;
font-weight: 600;
font-size: 1.2em;
margin-right:5%;
}
span.m_1{
  font-size:14px;
  color:#cb242a;
}
span.m_1 img{
  vertical-align: text-bottom;
}
i.icon1, i.icon2, i.icon3{
  width: 20px;
height: 20px;
background: url('/assets/img_sprite.png') -7px -42px;
float: left;
margin-right: 8%;
}
ul.list_2 li{
  display: inline-block;

width: 32%;
margin-right: 0;
}
ul.list_2 li p, ul.list_4 li p{
  float: left;
}
i.icon2{
  background: url('/assets/img_sprite.png') -33px -42px;
}
i.icon3{
  background: url('/assets/img_sprite.png') -60px -42px;
}
.content{
  background:#edeff0;
  padding:2em;
}
.search {
border-top: none;
border-left: none;
border-right: none;
border-bottom: 1px solid #CACACA;
background: none;
position: relative;
margin-bottom: 2em;
float:right;
}
.search form input[type="text"] {
padding: 3px 0;
font-weight:500;
font-size: 1em;
color:#A6A8AB;
border:none;
outline: none;
width: 76%;
background: none;
font-style: italic;
}
.search form input[type="submit"] {
background: url('../images/search.png')no-repeat  3px -2px;
width: 20px;
height: 20px;
border: none;
cursor: pointer;
outline: none;
position: absolute;
top: 23%;
right: 8px;
}
h1.m_2{
  text-align: center;
  color:#3f444e;
  font-size:1.3em;
  text-transform:uppercase;
  font-weight:600;
}
.grid_2 img{
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
}
.caption1{
  position:relative;
}
ul.list_3{
  position: absolute;
  top:-184px;
  left: 15px;
  width:100%;
}
ul.list_3 li p, ul.list_5 li p{
  float:left;
  color:#fff;
  font-size: 1.2em;
}
i.icon4{
  width: 20px;
height: 20px;
background: url(../images/img_sprite.png) -85px -46px;
display: inline-block;
position: absolute;
top: -184px;
right: 15px;

}
i.icon5 {
width: 20px;
height: 20px;
background: url(../images/img_sprite.png) -7px -42px;
float: left;
margin-right:4%;
}
p.m_3{
  position: absolute;
top: -30px;
color: #fff;
font-size: 1.1em;
width: 100%;

text-align: center;
}
.grid_2:hover, .row_2:hover, .m_5:hover, .m_6:hover, .m_7:hover, .m_8:hover{
  
  transition:0.5s all;
  -webkit-transition:0.5s all;
  -moz-transition:0.5s all;
  -o-transition:0.5s all;
  -ms-transition:0.5s all;
  opacity:0.8;
}
.grid_2:hover i.icon4{
  

}
.grid_3{
  padding: 0;
}
.grid_4{
  padding-left:0;
}
.grid_5{
  
}
.col-md-6.grid_7 {
padding-right: 0;
}
.col-md-2.grid_6 {
padding: 0;
}
.col_1{
  margin-top:2em;
}
.col_2{
  background:#fff;
}
ul.list_4{
  padding:1em;
}
ul.list_4 li, ul.list_6 li{
  color:#3f444e;
  
  font-weight: 600;
  font-size: 1.1em;
}
ul.list_4 li, ul.list_6 li{
  display:flex;
  line-height: 2em;
}
span.m_4{
  font-weight:500;
}
.row_2{
  margin-top:2em;
}
ul.list_5{
  position: absolute;
  top:-160px;
  left: 15px;
  width:100%;
  margin:0;
  padding:0;
  list-style:none;
}
ul.list_7{
  top:-208px;
}
i.icon6 {
  top: -160px;
}
i.icon7{
  top: -208px;
}
.video iframe{
  min-height:225px;
  padding:0 15px;
  margin-top:2em;
}
.row_5{
  margin-top:2em;
}
.col_3{
  margin-top:2em;
}
/*--footer--*/

#footer {
float: left;
overflow: hidden;
width: 100%;
margin-bottom:5em;
}
#footer-3d {
background-color:#edeff0;
}
#footer-3d {
float: left;
overflow: hidden;
width: 100%;
height: 60px;
}

#footer-3d .first-widget-bend {
float: left;
overflow: hidden;
width: 30%;
height: 60px;
margin-left: 30px;
-webkit-transform: skewX(-45deg);
-moz-transform: skewX(-45deg);
transform: skewX(-45deg);
}
.first-widget-bend {
background-color:#d8232a;
}
#footer-widgets.gp-footer-larger-first-col {
padding: 0;
}
#footer-widgets {
background-color:#262C38;
}
#footer-widgets {
float: left;
overflow: hidden;
padding: 50px 0 10px;
width: 100%;
}
.gp-container {
position: relative;
margin: 0 auto;
z-index: 1;
}
.gp-footer-larger-first-col .footer-1 {

line-height: 23px;
font-weight: 400;
font-style: normal;
color: #ffffff;
font-size: 15px;
opacity: 1;
visibility: visible;
-webkit-transition: opacity 0.24s ease-in-out;
-moz-transition: opacity 0.24s ease-in-out;
transition: opacity 0.24s ease-in-out;
}
.gp-footer-larger-first-col .footer-1 {
background-color:#d8232a;
}
.gp-footer-larger-first-col .footer-1 {
width: 30%;
margin-right:7%;
padding: 30px;
float: left;
}
.col_1_of_3:first-child {
margin-left: 0;
}
.span_1_of_3 {
width:19.8%;
}
.col_1_of_3{
display: block;
float: left;
margin:4% 0 1% 1.6%;
}
.span_1_of_3 h3 {
margin-bottom:15px;


font-size:1.5em;
line-height: 1.2;
margin-top: 0px;
letter-spacing: -1px;
color: #fff;
}
ul.first{
  padding:0;
  margin:0;
  list-style:none;
}
ul.first li a {
color: #A0A0A0;
font-size: 15px;
-moz-transition: background 0.5s ease;
-o-transition: background 0.5s ease;
-webkit-transition: background 0.5s ease;
line-height: 1.8em;
}
ul.first li a:hover{
  text-decoration:none;
  color:#d8232a;
}
.footer_box{
  
}
.copy p{
  color:#fff;
  font-size:13px;
  margin-top:1em;
}
.copy p a{
  color:#d8232a;
}
/*--movie--*/
.movie-test-dark {
background-color:#fff;
}
.movie-test {
width: 50%;
float: left;
margin-bottom: 8px;
}
.movie-test-left .movie__images {
float: left;
}
.movie-test .movie__images {
width: 50%;
border: none;
position: relative;
}

.movie-test .movie-beta__link:after {
content: '';
background-color: rgba(255, 255, 255, 0);
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
-webkit-transition: 0.3s;
transition: 0.3s;
z-index: 19;
}
.movie-test .movie-beta__link:hover:after {
background-color: rgba(255, 255, 255, 0.4);
}

.movie-test .movie__info {
overflow: hidden;
padding: 17px 17px;
position: relative;
margin: 0;
background: #fff;
}
a.movie__title{
  color:#000;
  font-weight:600;
  font-size:1.1em;
}
.movie-test-right .movie__images {
float: right;
}
ul.list_6{
  padding:0;
  margin:0;
  list-style:none;
}
p.movie__option a{
  font-weight:500;
  font-size:1em;
  color:#000;
}
.movie_img{
  margin-bottom:2em;
}
#flexiselDemo1, #flexiselDemo3 {
  display: none;
}
.nbs-flexisel-container {
  position: relative;
  max-width: 100%;
}
.nbs-flexisel-ul {
  position: relative;
  width: 9999px;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-align: center;
}
.nbs-flexisel-inner {
  overflow: hidden;
  margin: 0 auto;
}
.nbs-flexisel-item {
  float: left;
  margin:0px;
  padding:0px;
  cursor: pointer;
  position: relative;
  line-height: 0px;
}
.nbs-flexisel-item > img {
  cursor: pointer;
  position: relative;
  margin-top:10px;
  margin-bottom: 10px;
  max-width:350px;
  max-height:500px;
}
.grid-flex{
  margin:10px 0 20px 0;
  font-family: 'Roboto', sans-serif;
}
.nbs-flexisel-item a {
  color: #000;
  font-size:0.8125em;
  text-transform:uppercase;
}
.nbs-flexisel-item a:hover{
  color:#555;
}
.nbs-flexisel-item p {
  color: #000;
  font-size: 0.85em;
  padding-top: 25px;
}
.nbs-flexisel-item > img {
  cursor: pointer;
  positon: relative;
}
/*** Navigation ***/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
  width: 45px;
  height: 45px;
  position: absolute;
  cursor: pointer;
  z-index: 100;
  margin-top:-2em;
}
.nbs-flexisel-nav-left {
  left: 0px;
  background: url(../images/img-sprite.png) no-repeat -15px -113px;
}
.nbs-flexisel-nav-right {
  right: 0px;
  background: url(../images/img-sprite.png) no-repeat -76px -113px;
}
h1.recent {
padding: 0 15px;
margin: 1em 0;
color: #000;
}
h2.m_3{
  padding: 0 15px;

color: #000;
margin-bottom:1em;
}
.down_btn {
margin-top: 3em;
}
.btn1 {
padding:12px 20px;
outline: none;

font-size: 1.2em;
color:#fff;
text-decoration: none;
text-transform: uppercase;
background: #d8232a;
}
.btn1 span {
width: 20px;
height: 20px;
background: url(../images/img_sprite.png) -85px -49px;
display: inline-block;
vertical-align: middle;
margin-right: 2%;
text-decoration: none;
}
a.btn1:hover{
  background:#3f444e;
  color:#fff;
  text-decoration:none;
}
/*--single--*/
.images_3_of_2 {
width: 37.2%;
float: left;
margin-right: 2.6%;
}
.span_3_of_2 {
width: 59.3333%;
}
.desc1 {
display: block;
float: left;
}
.movie_image {
position: relative;
border: 2px solid #d8232a;
}
.movie_rating {
width: 47px;
height: 47px;
padding-top: 10px;
-webkit-border-radius: 24px;
-moz-border-radius: 24px;
border-radius: 24px;
background-color: #d8232a;
border: solid 3px #fff;
font: 16px 'Roboto', sans-serif;
color: #fff;
text-align: center;
font-weight: bold;
position: absolute;
top: 6px;
left: 6px;
}
.movie_rate {
position: relative;
padding: 20px 17px 19px;
border: 2px solid #d8232a;
border-top: none;

color: #4c4145;
}
.movie .movie__rate .score {
display: inline-block;
padding-left: 15px;
}
.rating_desc{
  float:left;
}
.rating_desc p{
  color:#000;
  font-size:1.2em;
}
/**/
/* ratings */
/**/
.sky-form .rating {
  margin-bottom: 4px;
  font-size: 15px;
  line-height: 27px;
  color: #404040;
}
.sky-form .rating:last-child {
  margin-bottom: 0;
}
.sky-form .rating input {
  position: absolute;
  left: -9999px;
}
.sky-form .rating label {
  display: block;
  float: right;
  height: -4px;
  cursor: pointer;
}
.sky-form [class^="icon-"] {
  display: block;
    width: 20px;
    height: 20px;
    background: url('../images/star.png') 0 1px;
    float:left;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
/**/
/* checked state */
/**/
.sky-form .radio input + i:after {
  background-color: #2da5da;  
}
.sky-form .checkbox input + i:after {
  color: #2da5da;
}
.sky-form .radio input:checked + i,
.sky-form .checkbox input:checked + i,
.sky-form .toggle input:checked + i {
  border-color: #2da5da;  
}
.sky-form .rating input:checked ~ label {
  color: #2da5da; 
   background: url('../images/star.png') 0 -16px;
  display: -webkit-box;
}
p.movie_option {
font-size: 15px;
margin-bottom: 15px;
}
p.movie_option a{
  color:#555;
}

p.m_4{
  color: #888;
font-size: 1em;
line-height: 1.8em;
margin:3em 0;
}
ul.single_list {
  margin-bottom: 30px;
  padding: 30px 0 0;
  list-style: none;
  margin: 0;
}
ul.single_list li {
padding-bottom: 30px;
}
.title {
  color:#000;
  font-size:1.1em;
  font-weight: 600;
  margin: 0 0 10px 0;
}
.title a{
  color:#000;
}
.title a:hover{
  color:red;
  text-decoration:none;
}
.list li {
  padding-bottom: 30px;
}
.data {
  float: left;
  width: 93.5%;
}
li.middle {
  padding: 0 0px 0 70px;
  margin-bottom: 30px;
}
li.last-comment {
  padding: 0 0px 0 140px;
  margin-bottom: 30px;
}
.data p, .data-middle, .data-last p{
  color: #999;
font-size: 1em;
line-height: 1.5em;
}
.preview {
  float: left;
  width: 5.5%;
  margin-right:1%;
}
.data-middle {
  float: left;
  width: 92.5%;
}
.data-last {
  float: left;
  width: 92.5%;
}
.single h1{
  color:#000;
  font-size:25px;
  margin:3em 0 0;
}
.to input[type="text"] {
padding: 10px;
width:30%;
font-size:1.1em;

margin: 10px 0;
border: none;
color: #999;
background:#fff;
float: left;
outline: none;
}
.text input[type="text"], .text textarea {
width: 70%;
font-size: 1.1em;
margin: 10px 0;
border: none;
color: #999;
outline: none;
background: #fff;
height: 120px;
padding: 10px;
resize: none;
}
.form-submit1 input[type="submit"] {
color: #FFF;
font-size: 1.1em;
font-weight: normal;
padding: 10px 20px;
text-transform: uppercase;
background:#d8232a;
display: inline-block;
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
border: none;
cursor: pointer;
outline: none;
}
.form-submit1 input[type="submit"]:hover{
  background: #3f444e;
}
/*--login--*/
.login-left h3, .login-right h3 {
  color:#000;
  font-size: 1.5em;
  
  
  padding-bottom: 0.5em;
}
.login-left p, .login-right p {
  color:#999;
  display: block;
  font-size:1em;
  margin: 0 0 1.5em 0;
  line-height: 1.5em;
}
.acount-btn {
  background: #d8232a;
color: #FFF;
font-size: 1em;
padding: 7px 10px;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
display: inline-block;
text-transform: uppercase;
}
.acount-btn:hover, .login-right input[type="submit"]:hover{
  background:#3f444e;
  text-decoration:none;
  color:#fff;
}
.login-right form {
  padding: 1em 0;
}
.login-right form div {
  padding: 0 0 1.5em 0;
}
.login-right span {
  color: #999;
  font-size:0.95em;
  
  display: block;
  
}
.login-right input[type="text"] {
  border: 1px solid #E4E4E4;
  outline-color:#d8232a;
  width: 96%;
  font-size:0.8125em;
  padding:10px;
  -webkit-appearance: none;
}
.login-right input[type="submit"] {
  background: #d8232a;
  color: #FFF;
  font-size:1em;
  padding:7px 10px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  display: inline-block;
  text-transform: uppercase;
  border:none;
  outline:none;
}
.login-right input[type="submit"]:hover{
  background:#000;
}
a.forgot {
  font-size: 0.85em;
color: #000;
}
h4.title {
  color: #000;
  margin-bottom: 0.5em;
  
  text-transform: uppercase;
  border-bottom: 1px solid #DFDDDD;
  padding-bottom: 13px;
}
p.cart {
  color: #999;
  line-height: 1.8em;
}
/*--register--*/
.register-top-grid h3, .register-bottom-grid h3 {
  color:#000;
  font-size:1.5em;
  padding-bottom:20px;
  margin: 0;
  
}
.register-top-grid div, .register-bottom-grid div {
  width: 48%;
  float: left;
  margin: 10px 0;
}
.register-top-grid span, .register-bottom-grid span {
  color:#999;
  
  display: block;
  
  font-size:1em;
}
.register-top-grid input[type="text"], .register-bottom-grid input[type="text"] {
  border: 1px solid #EEE;
  outline-color:#FF5B36;
  width: 96%;
  font-size: 1em;
  padding: 0.5em;
  -webkit-appearance: none;
}
.checkbox {
  margin-bottom: 4px;
  padding-left: 27px;
  font-size: 1.1em;
  line-height: 27px;
  cursor: pointer;
}
.checkbox {
  position: relative;
  color:#999;
  font-weight:500;
}
.checkbox:last-child {
  margin-bottom: 0;
}
.news-letter {
  color: #555;
  font-weight:600;
  font-size: 0.85em;
  margin-bottom: 1em;
  display: block;
  text-transform: uppercase;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  clear: both;
}
.checkbox i {
  position: absolute;
  bottom: 5px;
  left: 0;
  display: block;
  width:20px;
  height:20px;
  outline: none;
  border: 2px solid #D2CF99;
}
.checkbox input + i:after {
  content: '';
  background: url("../images/tick1.png") no-repeat 1px 2px;
  top: -1px;
  left: -1px;
  width: 15px;
  height: 15px;
  font: normal 12px/16px FontAwesome;
  text-align: center;
}
.checkbox input + i:after {
  position: absolute;
  opacity: 0;
  transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  -ms-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -webkit-transition: opacity 0.1s;
}
.checkbox input {
  position: absolute;
  left: -9999px;
}
.checkbox input:checked + i:after {
  opacity: 1;
}
.news-letter:hover {
  color:#00BFF0;
}
.register-but{
  
}
.register-but form input[type="submit"] {
  background: #df1f26;
color: #FFF;
font-size: 1em;
padding: 7px 20px;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
display: inline-block;
text-transform: uppercase;
border: none;
outline: none;
}
.register-but input[type="submit"]:hover {
  background:#3f444e;
}
div.register-bottom-grid {
  margin-top:3em;
}
/*--responsive design--*/
@media only screen and (max-width:1024px) {
ul.header_right_box {
  margin: 0 0 0 17%;
}
.banner_desc {
  top: 88.5%;
}
ul.list_4 {
  padding: 0.5em;
}
ul.list_4 li, ul.list_6 li {
  font-size: 0.95em;
}
ul.list_3 {
  top: -150px;
}
i.icon4 {
  top: -150px;
}
ul.list_5 {
  top: -120px;
  left:5px;
}
i.icon6{
  top: -120px;
}
p.m_3 {
  top: -43px;
  font-size: 1em;
}
.video iframe {
  min-height: 180px;
}
.movie-test .movie__info {
  padding: 6px 6px;
}
}
@media only screen and (max-width:920px) {
ul.header_right_box {
  margin: 0;
} 
.nav li {
  margin: 0px 3% 0px 0;
}
.col-sm-3.header_right {
  padding-left: 0;
}
ul.header_right_box li {
  margin: 0 1%;
}
ul.list_1 li {
  font-size: 1em;
}
.banner_desc {
  top: 78.5%;
}
.grid_2 {
  text-align:center;
}
.grid_2 img, .col_2 img, .row_2 img, .m_6 img, .m_7 img{
  display:inline-block; 
}
ul.list_3, ul.list_5{
  top: -215px;
  width: 30%;
  left: 210px;
}
i.icon4 {
  top: -215px;
  right: 220px;
}
.col_2, .row_2, .m_6, .m_7 {
  text-align: center;
}
.row_2, .grid_2{
  margin-bottom:2em;
} 
.m_7{
  margin-top:2em;
}
.nbs-flexisel-item > img {
  max-width: 100%;
  max-height: 100%;
}
.col-md-9.movie_box {
  margin-bottom: 2em;
}
.login-right {
  margin-top: 3em;
}
.login-left h3, .login-right h3 {
  padding-bottom: 0;
}
p.text{
  display:none;
}
.gp-footer-larger-first-col .footer-1 {
  padding: 20px;
}
}
@media only screen and (max-width:640px) {
ul.header_right_box {
  text-align: center;
} 
ul.header_right_box li {
  display: inline-block;
  float: none;
}
.logo {
  margin:0 0 10px;
  text-align: center;
}
.header_top {
  padding: 1em 1em 0.8em;
}
.nav li {
  margin: 0px 1% 0px 0;
}
.banner_desc {
  top: 73.5%;
}
.button {
  top: 40%;
}
.movie_rate {
  padding: 10px 5px 8px;
}
}
@media only screen and (max-width:600px) {
.button a {
  padding: 6px 10px;
  font-weight: 600;
  font-size: 0.85em;
} 
.banner_desc {
  top: 54.5%;
  padding: 5px;
}
ul.list_1 li {
  font-size: 0.85em;
}
.span_1_of_3 {
  width: 100%;
  float: none;
}
.gp-footer-larger-first-col .footer-1 {
  width: 100%;
  padding:10px;
  float:none;
}
.footer_box {
  padding: 2em;
  text-align: center;
}
.movie-test {
  width: 100%;
  float: none;
}
.content {
  padding: 1em;
}
h2.m_3 {
  font-size: 22px;
}
h1.recent {
  font-size:22px;
}
.images_3_of_2 {
  width: 100%;
  float: none;
  margin-right: 0;
}
.span_3_of_2 {
  width: 100%;
  margin-top:2em;
}
.desc1 {
  float: none;
}
.to input[type="text"] {
  width: 45%;
}
.text input[type="text"], .text textarea {
  width: 100%;
}
.form-submit1 input[type="submit"] {
  font-size: 1em;
  padding: 7px 10px;
}
.preview {
  width: 13.5%;
  margin-right:2%;
}
.data {
  width: 83.5%;
}
li.middle {
  padding: 0 0px 0 30px;
  margin-bottom: 0;
}
.data-middle {
  width: 83.5%;
}
li.last-comment {
  padding: 0 0px 0 60px;
  margin-bottom: 0;
}
.data-last {
  width: 82.5%;
}
}
@media only screen and (max-width:320px) {
.banner_desc{
  display:none;
} 
.search {
  float: right;
  width: 40%;
}
h1.m_2 {
  font-size: 1.1em;
  margin-top: 6px;
}
i.icon4 {
  top: -200px;
  right: 8px;
}
ul.list_3, ul.list_5 {
  top: -200px;
  width: 30%;
  left: 10px;
}
.grid_7, .grid_4, .content_right, .content_right-box, .grid_5, .m_6, .movie_box, .login-left, .login-right{
  padding: 0;
}
.video iframe {
  padding:0;
  margin-top:0;
}
h2.m_3 {
  font-size: 18px;
  padding: 0;
}
.single h1 {
  font-size: 20px;
  margin: 2em 0 0;
}
.to input[type="text"] {
  width: 48%;
}
}
