<div id="page_wrapper">
  <b><center>All Users</center></b>
  <br>
    <table class="table table-bordered">
      <tr>
        <td>№</td>
        <td class = "td_name">User</td>
        <td class = "td_name">Email</td>
        <td class = "td_name">Avatar</td>
        <td class = "td_name">Delete_user</td>
        <td class = "td_name">Make</td>
      </tr>
      <% @users.each do |user| %>
        <tr id = <%= "user_#{user.id}"%>>
          <td><%=user.id%></td>
          <td class = "td_name"><%=link_to user.firstname + " " + user.lastname, user %></td>
          <td class = "td_name"><%=user.email%></td>
          <td class = "td_name"><%=image_tag user.avatar.url(:avat), class: "img-circle"%></td>
          <td class = "td_name"><%= link_to 'Delete', admin_user_path(user),class: " label label-danger", method: :delete, remote: true, data: { confirm: 'Are you sure' } %></td>
          <td class = "td_name">
            <% if user.admin %>
            <%= link_to 'User', change_permission_user_path(user), class: "label label-primary"%>
            <% else %>
            <%= link_to 'Admin', change_permission_user_path(user), class: "label label-danger" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
</div>