<ul class = "menu_ul">
  <li class ="menu_li"><%= link_to 'Admin', admin_root_path , class: "active" %></li>
  <li class ="menu_li"><%= link_to 'Manage Users', admin_users_path , class: "link" %></li>
  <li class ="menu_li"><%= link_to 'Manage Video', admin_videos_path , class: "link" %></li>
  <li class ="menu_li"><%= link_to 'Manage Film', admin_films_path , class: "link" %></li>
  <li class ="menu_li"><%= link_to 'Manage Cartoon', admin_cartoons_path , class: "link" %></li>
  <li class ="menu_lis"><%= link_to 'Back to site', root_path , class: "link" %></li>
</ul>

 