<h1 >Edit Videos</h1>
<%= form_for [:admin, @video] do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </p>
  <p>
    <%= f.label :link %><br>
    <%= f.text_field :link, class: "form-control", value: '<iframe width="100%" height="305"' %>
  </p>
  <br>
  <p>
    <%= f.submit class: 'btn btn-success' %>
  </p>
<% end %>